@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<link rel="stylesheet" href="Styles/StyleSheet.CSS" />

<html>
<head>
    <title>Create</title>
</head>
<body>
    <h1>Author</h1>

    <form method="post">
        <fieldset>

            <legend>Create</legend>

            <div class="editor-field">
                @Html.Label("First Name:")
                <input type='text' class='txtbox' asp-for="Author.FirstName" />
                <span class="alert-danger" asp-validation-for="Author.FirstName"></span>

            </div>
            <br />
            <div class="editor-field">
                @Html.Label("Last Name:")
                <input type='text' class='txtbox' asp-for="Author.LastName" />
                <span class="alert-danger" asp-validation-for="Author.LastName"></span>
            </div>
            <br />

            <p>
                <input type="submit" name="submit" value="Save" />
                <input type="submit" name="submit" value="Cancel" />
            </p>

        </fieldset>
    </form>

</body>
</html>

